// File for scss-vars.
// For example: main colors, paddings and so on.
//Colors
/* RGB */
$dark--main: rgba(17, 75, 95, 1);
$dark--slave: rgba(26, 147, 111, 1);
$light--middle: rgba(136, 212, 152, 1);
$light--slave: rgba(198, 218, 191, 1);
$light--main: rgba(243, 233, 210, 1);
$notice---main: #e7746f;

$gray:                 #455a64;
$gray--dark:           #373e42;
$gray--dark-37:        #53595d;
$gray--light:          #d0d1d2;

$text--main:                 #455a64;
$title--main:           #373e42;
$gray--dark-37:        #53595d;
$gray--light:          #d0d1d2;