// File for scss-vars.
// For example: main colors, paddings and so on.
//Colors
/* RGB */
$decore--main: rgba(17, 75, 95, 1);
$decore--slave: rgba(26, 147, 111, 1);
$decore--slave-light: rgba(136, 212, 152, 1);
$decore--slave-191: rgba(198, 218, 191, 1);
$area--main: rgba(243, 233, 210, 1);

$gray:                 #455a64;
$gray--dark:           #373e42;
$gray--dark-37:        #53595d;
$gray--light:          #d0d1d2;

$text--main:                 #455a64;
$title--main:           #373e42;
$gray--dark-37:        #53595d;
$gray--light:          #d0d1d2;