include ../social-contacts/social-contacts.pug
include ../signup/signup.pug
mixin page-header(data)
    header.page-header
        .header-top
            .header-container
                +social-contacts(socialContacts)
                +signup()
        .header-bottom