include ../social-contacts/social-contacts.pug
include ../signup/signup.pug
include ../page-logo/page-logo.pug
include ../add-service/add-service.pug
mixin page-header(data)
    header.page-header
        .header-top
            .header-container
                +social-contacts(socialContacts)
                +signup(signup)
        .header-bottom
            .header-container
                +page-logo()
                +add-service()
