.signup {
  margin-left: auto;
  display: flex;
}
.signup__button {
  text-decoration: none;
  color: $light--main;
  display: flex;
  align-items: center;
  border-left: 1px solid lighten( $dark--main, 10% );
  padding: 10px;
  &:last-child {
    @include laptop() {
      border-right: 1px solid lighten( $dark--main, 10% );
    }

  }
  &:hover {
    background-color: lighten( $dark--main, 10% );
    color: $light--middle;
    .signup__icon {
      fill: $light--middle;
    }
  }
}

.signup__icon {
  fill: $light--main;

  @include laptop() {
    margin-right: 10px;
    width: 40px;
    height: 40px;

  }
}

.signup__text {
  display: none;
  @include desktop() {
    display: block;
  }
}
