mixin page-search(data)
    .page-search
        .page-container
            .page-search__title
                h1 Услуги Шатуры
            .page-search__slogan
                h2 Портал услуг Шатуры
            form.search-form
                input.search-form__input(class="search-form__input-nameservice" type='text' placeholder="ведите название услуги")
                input.search-form__input(class="search-form__input-categories" type='text' placeholder="ведите название услуги")
                button.search-form__button(type="button") Поиск

