.add-service {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.add-service__button {
  outline: none;
  /* cursor: default; */
  border: none;
  font: inherit;
  line-height: normal;
  overflow: visible;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  color: $light--main;
  background: $notice---main;
  //background-image: linear-gradient(to bottom, lighten( $notice---main, 20% ), $notice---main);
  border-radius: 3px;
  padding: 9px 20px 10px 20px;
  text-decoration: none;

  &:hover {
    background: lighten( $notice---main, 10% );

  }
}
